<mat-toolbar class="header-toolbar">
  <div class="header-left">
    <div class="menu-button" (click)="onToggleSidenav()">
      <mat-icon class="menu-icon">menu</mat-icon>
    </div>
    <div class="logo-container">
      <h1 class="app-name">COZY APP</h1>
    </div>
  </div>

  <div class="header-right">
    <div class="user-avatar" [matMenuTriggerFor]="userMenu" [style.background-color]="avatarColor">
      <span class="user-initial">{{ userInitial }}</span>
    </div>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/dashboard/settings">
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>